<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384583113187-ad45cs9clten0cspd8kt5v6csk2ke68q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384583113187-ad45cs9clten0cspd8kt5v6csk2ke68q</string>
	<key>API_KEY</key>
	<string>AIzaSyAWI0bocIeKuxjP7_1XI_9q3XnBoiZ4Mfw</string>
	<key>GCM_SENDER_ID</key>
	<string>384583113187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shamma.AttendlyApp</string>
	<key>PROJECT_ID</key>
	<string>attendlyapp-f9d5d</string>
	<key>STORAGE_BUCKET</key>
	<string>attendlyapp-f9d5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384583113187:ios:e953fa69a48d2c077aa8d6</string>
</dict>
</plist>